[submodule "themes/hugo-prose"]
	path = themes/hugo-prose
	url = https://github.com/yihui/hugo-prose.git
[submodule "contents/math-notes/fiber-bundles"]
	path = contents/math-notes/fiber-bundles
	url = https://github.com/mathirst/notes.minhua.netlify.git
